@charset "UTF-8";

body{
	padding:center;
	margin:0px;
}
.container form tr{
	font-color:red;
	console.log("aaa");
}

.test{
	font-size: 50px;
	console.log("aaa");
}
.content{
	width:300px;
	height:200px
}